---
// Global, single-language (English) for now. Language editions (zh, ms) will add a switcher here.
---
<header class="site-header">
  <div class="wrap">
    <a href="/" class="logo">The<span>Wellness</span>GPT</a>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
    </nav>
  </div>
</header>
